.vs/MFCApplication1/FileContentIndex/c8fce896-b18f-47ca-99e6-8cfde0663e20.vsidx
.vs/MFCApplication1/v17/.suo
.vs/MFCApplication1/v17/Browse.VC.db
.vs/MFCApplication1/v17/fileList.bin
.vs/MFCApplication1/v17/Solution.VC.db
.vs/MFCApplication1/v17/ipch/5702d0457c1c6f8e.ipch
MFCApplication1/x64/Debug/MFCApplication1.exe.recipe
MFCApplication1/x64/Debug/MFCApplication1.ilk
MFCApplication1/x64/Debug/MFCApplication1.log
MFCApplication1/x64/Debug/MFCApplication1.obj
MFCApplication1/x64/Debug/MFCApplication1.pch
MFCApplication1/x64/Debug/MFCApplication1.res
MFCApplication1/x64/Debug/MFCApplication1Dlg.obj
MFCApplication1/x64/Debug/pch.obj
MFCApplication1/x64/Debug/vc143.idb
MFCApplication1/x64/Debug/vc143.pdb
MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.command.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/Cl.items.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.read.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/CL.write.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/link.command.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/link.read.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/link.write.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/MFCApplication1.lastbuildstate
MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.command.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.read.1.tlog
MFCApplication1/x64/Debug/MFCApplication1.tlog/rc.write.1.tlog
x64/Debug/MFCApplication1.exe
x64/Debug/MFCApplication1.pdb
